
header{
  background-color: #000;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
}
.logo-home{
  width: 100;
  padding-top: 30px;
}
.img-responsive{
  width: 50%;
  padding-bottom: 70px
}
.logo-home{
  text-align: center;
}
nav{
  background-color: yellow;
  padding-top: 70px;
}
main{
  background-color: pink;
  width: 90%;
  height: 700px;
  float: right;
}
.left-box{
  width: 50%;
  height: 520px;
  float: left;
  background-color: #becbb7;
}
.left-box img{
  height: 70%;
  display: inline-block;
  vertical-align: middle;
}
.right-box{
  width: 50%;
  height: 520px;
  float: right;;
  background-color: #8da79d;
  }
  .right-box img{
    height: 70%;
